<h1>
  <%= @room.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <!-- the list of rooms is reused in index as well.-->
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="chat">
      <% @room_messages.each do |room_message| %>
        <%= room_message %>
      <% end %>
    </div>

    <!--
    Notes:

    We reused the app/views/rooms/_rooms.html.erb partial that we created in the previous step
    We added a div with class .chat and this is where the room’s messages are renderer.
    We added a form for the @room_message that we instantiated in the controller. We also used the directive remote: true when we instantiated the form thus the form is going to be submitted by Ajax.
    We added a hidden field for the attribute :room_id so that the value reaches the RoomMessagesController once we submit the form.


    -->
    <%= simple_form_for @room_message, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message, as: :string,
                       wrapper: false,
                       label: false,
                       input_html: {
                           class: 'chat-input'
                       } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= form.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>
